* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'myFamily';
  src: url('../sass/pingfang.ttf');

}

input::-webkit-input-placeholder {
  color: #999999;
}

input:-moz-placeholder {
  color: #999999;
}

input::-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder {
  color: #999999;
}

.box {
  display: flex;
}

.box-round {
  display: flex;
  margin-bottom: 12px;
}

.box-normal {
  display: flex;
}


.box-column {
  flex-direction: column;
}

.box-row {
  flex-direction: row;
  align-items: center;
}

.round-small {
  width: 4px;
  height: 4px;
  background: #e25e49;
  border-radius: 50%;
}

.textname {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #424242;
  line-height: 13px;
}

.textname-left {
   margin-left: 20px;
   margin-right: 20px;
 }
.textname-right {
  margin-right: 20px;
}
.textname-top {
  display: block;
  margin-bottom: 12px;
}

.inputstyle {
  position: relative;

  input {
    width: 220px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #212121;
    //line-height: 30px;
    box-sizing: border-box;

  }
}

.inputonfocus {

  input:focus {
    width: 220px;
    background: #ffffff;
    border: 1px solid #7fb6f5;
    box-shadow: 0 0 2px 1px rgba(127, 182, 245, 0.30), inset 0 1px 3px 1px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    outline: none;
  }
}

.wronginputstyle {
  position: relative;

  input {
    width: 220px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    outline: none;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #212121;
    //line-height: 30px;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #e25e49 !important;
    box-shadow: none !important;
  }
}


.input-disabled {
  background: #f5f5f5 !important;
}

.pointout {
  font-family: PingFangSC-Regular;
  font-size: 10px;
  line-height: 10px;
  color: #999999;
  //-webkit-transform:scale(0.833);
  //transform-origin:0 0;
}

.normal {
  color: #999999;
}

.wrong {
  color: #e25e49;
}

.pointout-right {
  margin-left: 10px;
}

.pointout-bottom {
  margin-top: 6px;
}

.pointout-position-bottom {
  position: absolute;
  top: 36px;
  left: 0;
}

.pointout-position-right {
  position: absolute;
  left: 230px;
  top: 10px;
}

.button-submit {
  width: 76px;
  height: 30px;
  background: #4990e2;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #ffffff;
  line-height: 14px;
  border: none;
  outline: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.input-border-right {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: 0 !important;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  //line-height: 30px;

}

.input-border-right::-webkit-input-placeholder {
  color: #c6c6c6 !important;

}

.input-border-right:-moz-placeholder {
  color: #c6c6c6 !important;
}

.input-border-right::-moz-placeholder {
  color: #c6c6c6 !important;
}

.input-border-right:-ms-input-placeholder {
  color: #c6c6c6 !important;
}

.personurl {


  input {
    width: 220px;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #212121;
    //line-height: 30px;
    background: none;
    padding-left: 33px;

  }

}

.personurl-right {
  background: url('../images/search.svg');
  background-size: 14px 14px;
  background-position: 196px center;
  background-repeat: no-repeat;

  input {
    padding-left: 10px;
    width: 196px;
  }

  input:focus {
    width: 196px;
    background: #ffffff;
    border: none;
    box-shadow: none;
    border-radius: 2px;
    outline: none;

  }
}



